__pycache__/
.pyc
*.pyo
*.pyd
.DS_Store
.idea/
venv/
.env
*.swp
*~
*.bak
Thumbs.db
ehthumbs.db
Desktop.ini
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
AdBlock.crx
qodana.yaml
tmp*
lib/
lib64/
bin/
include/
share/
libexec/
*/lib/
*/lib64/
*/bin/
*/include/
*/share/
*/libexec/
pyenv.cfg
pyvenv.cfg
