anytree
beautifulsoup4
selenium
urllib3
black
requests
pandas
openai
konlpy
python-dotenv
sentence-transformers
faiss-cpu
langchain
langchain-core
langchain-text-splitters
langchain-community
fastapi
uvicorn